// @include media-xs {
//     .social-icons, footer {
//         visibility: hidden;
//     }
// }
@include media-sm {
    .about__bio {
        display: inline-block;
    }
    .social-icons {
        font-size: 0.8rem;
    }
    footer {
        font-size: 10px;
        bottom: 0.5em;
    }
   .contact__email{
        display: flex;
        flex-wrap: wrap;
    }
}

@include media-md {
    .menu-btn {
        visibility: hidden;
    }
    .projects__bio-image {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio {
        font-size: 1.5rem;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2,1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(3,1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .social-icons {
        font-size: 1.5rem;
    }
}

@include media-xl {
    .projects__bio-image {
        height: 50vh;
    }
}